.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../../images/grass-texture.jpg");
    background-repeat: repeat;
    color: white;
    box-shadow: inset 0 0 50rem black;
}

.container {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg {
    opacity: 0.9;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: flat;
}

.spinning {
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.76, -0.21, .44, 1.46);
    animation-duration: 3s;
    animation-name: loading;
    animation-delay: 0s;
    transform-origin: center;
}

.title {
    margin: 0 auto auto;
    font-weight: 900;
    opacity: 0.15;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10rem;
    letter-spacing: 0.75rem;
    font-style: italic;
    text-shadow: 0 0 2rem black;
}


@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1200px) {
    .title {
        font-size: 8rem;
    }
}

@media (max-width: 1000px) {
    .title {
        font-size: 6rem;
    }
}

@media (max-width: 800px) {
    .title {
        font-size: 4rem;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 3rem;
    }
}

@media (orientation: portrait) {
    .container {
        width: 40%;
    }
}

@media (orientation: landscape) {
    .container {
        height: 40%;
    }
}