.container {
    top: 0;
    right: 0;
    padding-right: 2rem;
    height: 100%;

    animation-name: itemAppears;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    opacity: 1;
}

.table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.5rem;
}

.item {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;

    animation-name: itemAppears;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    opacity: 1;
    margin: 0.5rem auto;
    font-size: 1.5rem;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.green {
    background-color: #339F4E;
}

.red {
    background-color: #9E2723;
}

.black {
    background-color: #0E130D;
}

.noSpins {
    text-transform: uppercase;
    font-size: 3rem;
    margin: auto;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
}

@keyframes itemAppears {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@media (max-width: 1100px) {
    .item {
        width: 3rem;
        height: 3rem;
    }

    .noSpins {
        font-size: 2.5rem;
    }
}
@media (max-width: 1000px) {
    .item {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }

    .noSpins {
        font-size: 2rem;
    }
}

@media (max-width: 800px) {
    .item {
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1rem;
    }

    .noSpins {
        font-size: 1.75rem;
    }
}


@media (max-width: 700px) {
    .noSpins {
        font-size: 1.5rem;
    }

    .item {
        width: 1.75rem;
        height: 1.75rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 550px) {
    .noSpins {
        font-size: 1rem;
    }
}