.container {
    width: 100%;
    height: 35px;
    padding: 0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.sound {
    border-radius: 100%;
    height: 27px;
    width: 27px;
    border: 2px solid white;
    outline: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}