.marsViewer__app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 4rem;
}

.marsViewer__app_notLoadedWarning {
    font-size: 3rem;
    text-transform: uppercase;
}

.marsViewer__app_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 2rem;
    margin: auto;
}

.marsViewer__app_container::after {
    content: '';
    flex-grow: 1000;
}

.marsViewer__app_imageBlock {
    margin: 0.2rem;
    background-color: transparent;
    position: relative;
    height: 150px;
    overflow: hidden;
    transition: 0.2s all;
    width: auto;
    object-fit: cover;
}

.marsViewer__app_imageBlock img {
    height: 100%;
    object-fit: cover;
}

