@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

html {
    font-size: 10px;
}

body {
    overflow-x: hidden;
    background-color: #f7f1e3;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.header {
    padding: 2rem 4rem;
    width: 100%;
    background-color: #2c2c54;
    color: #f7f1e3;
}

.header__title {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.header__subtitle {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.header__subsubtitle {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 900;
}

.main {
    width: 100%;
    display: flex;
    text-align: center;
    margin: auto;
    padding: 2rem 0;
}

.visualization {
    margin: auto;
    text-align: center;
}

.visualization rect {
    fill: #192a56;
    stroke: #f5f6fa;
}

.visualization-wrapper {
    padding: 2rem 4rem;
    background-color: #f5f6fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.7rem;
}


.management {
    margin-top: 2rem;
    width: 100%;
    display: flex;

    flex-direction: row;

    justify-content: space-around;
    align-items: center;
}

.btn {
    outline: none;
    color: #130f40;
    font-size: 2rem;
    padding: 0.5rem 3rem;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid #130f40;
    border-radius: 7px;
    font-weight: 900;

    background-color: transparent;
    transition: 0.3s all;
}

.btn:hover {
    color: #f7f1e3;
    background-color: #130f40;
}

.btn:active {
    transform: scale(0.9);
}
