.visualization {
    margin: auto;
    text-align: center;
    transition: 0.1s all;
}

.visualization rect {
    fill: #192a56;
    stroke: #f5f6fa;
    transition: 0.1s all;
}


.visualizationWrapper {
    background-color: #f5f6fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;

    text-align: center;
    transition: 0.1s all;
    min-width: 50%;
    max-width: 80%;
    margin: auto;
}
