.marsViewer__settings {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.marsViewer__settings_input {
    font-size: 1.5rem;
    padding: 0.2rem 1rem;
    text-align: center;
    border: 1.5px solid #2C2C54;
}

.marsViewer__settings_button {
    padding: 0.5rem 1rem;
    font-weight: 900;
    border: 1.5px solid #2C2C54;
    cursor: pointer;
    background-color: transparent;
    transition: 0.2s all;
    color: #2C2C54;
}

.marsViewer__settings_button:hover {
    background-color: #2C2C54;
    color: white;
}

.marsViewer__settings_button:active {
    transform: scale(0.9);
}
.marsViewer__settings_button[disabled]
{
    opacity: 0.5;
    cursor: default;
    color: #2C2C54;
}

.marsViewer__settings_button[disabled]:hover {
    padding: 0.5rem 1rem;
    font-weight: 900;
    border: 1.5px solid #2C2C54;
    background-color: transparent;
    transition: 0.2s all;
    cursor: default;
    color: #2C2C54;
}