.wrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.container {
    --opacityLowestLevel: 0.5;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding: 0 0.75rem;
}

.tablet {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    box-shadow: 0 0 2rem black;
    border-radius: 0.5rem;
    border: 1.5px dashed #C4CEC1;
}

.inactive {
    pointer-events: none;
    opacity: var(--opacityLowestLevel);
    animation: inactiveBoard 0.5s ease-in-out;
}


@keyframes inactiveBoard {
    0% {
        opacity: 1;
    }
    100% {
        opacity: var(--opacityLowestLevel)
    }
}


@media (max-width: 850px) {
    .tablet {
        border-width: 1px;
    }
}