.wrapper {
    height: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    height: auto;
    perspective: 1000px;
    flex-wrap: wrap;
}

.svgChipContainer {
    cursor: pointer;
    flex-basis: 20%;
    margin: 1rem;
    border-radius: 100%;
    border: none;
    outline: none;

    transition-property: transform, opacity;
    transition-duration: 0.5s;
    transform-origin: center;
    transform-style: preserve-3d;

    opacity: 0.7;
}

.svgChipContainer:hover {
    opacity: 0.85;

    transform: translateZ(100px) rotateX(10deg);
}

.svgChipContainer.selected {
    animation-name: selectedChip;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 1;
}


@keyframes selectedChip {
    0% {
        transform: translateZ(100px) rotateX(15deg) rotateY(15deg);
    }
    25% {
        transform: translateZ(100px) rotateX(-15deg) rotateY(15deg);
    }
    50% {
        transform: translateZ(100px) rotateX(-15deg) rotateY(-15deg);
    }
    75% {
        transform: translateZ(100px) rotateX(15deg) rotateY(-15deg);
    }
    100% {
        transform: translateZ(100px) rotateX(15deg) rotateY(15deg);
    }
}