.container {
    width: 100%;
    height: 100%;
    padding: 0 0.75rem;
    margin: auto;
    text-align: center;
}


.buttonManager {
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 0.2rem dashed white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    box-shadow: inset 0 0 0;
    transition-duration: 0.1s;
    transition-property: box-shadow;
}

.tablet {
    width: 100%;
    height: 100%;
    margin: auto;
    box-shadow: 0 0 2rem black;
    border-radius: 0.5rem;
    border: 1.5px dashed #C4CEC1;
    padding: 0.5rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.buttonManager:hover {
    box-shadow: inset 0 0 10rem rgba(255, 255, 255, 0.4);
}

.buttonManager:active {
    box-shadow: inset 0 0 10rem rgba(255, 255, 255, 0.6);
}

.buttonManager[disabled] {
    opacity: 0.5;
}

.buttonManagerImage {
    width: 70%;
    height: 70%;
    margin: auto;
}

.buttonManagerContainer {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
}

.inactive {
    pointer-events: none;
    opacity: var(--opacityLowestLevel);
    animation: inactiveBoard 0.5s ease-in-out;
}


@keyframes inactiveBoard {
    0% {
        opacity: 1;
    }
    100% {
        opacity: var(--opacityLowestLevel)
    }
}


@media (max-width: 1000px) {
    .buttonManager {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 900px) {
    .buttonManager {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 850px) {
    .tablet {
        border-width: 1px;
    }
}

@media (max-width: 700px) {
    .tablet {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .buttonManager {
        width: 37px;
        height: 37px;
    }
}