.app__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    margin-bottom: 3rem;
}

.app__blockButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    outline: none;
    color: #130f40;
    font-size: 2rem;
    padding: 0.5rem 3rem;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid #130f40;
    border-radius: 7px;
    font-weight: 900;

    background-color: transparent;
    transition: 0.3s all;
}

.btn:hover {
    color: #f7f1e3;
    background-color: #130f40;
}

.btn:active {
    transform: scale(0.9);
}

.btn[disabled] {
    opacity: 0.5;
    cursor: default;
}

.btn[disabled]:hover {
    color: #130f40;
    border: 2px solid #130f40;
    background-color: transparent;
}

.app__blockArray
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 1.5rem;
    padding: 2rem 0;
    line-height: 3rem;
}
