.wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    height: 40vh;

    perspective: 1000px;
    background-image: url("../../images/grass-texture.jpg");
    box-shadow: inset 0 0 10000px black;

    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 0 10rem;
}

.container {
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 7fr 3fr;

    background-image: url("../../images/grass-texture.jpg");
    background-size: contain;
    background-repeat: repeat-x;


    transform: rotateX(35deg) translateY(-10px) scale(1.1);
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, .7);

    height: 100%;
    border-radius: 2rem;

    min-width: 100%;

    padding: 0.1rem;
}